<ion-header translucent mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Categoría</ion-title>
    <ion-buttons slot="end" *ngIf="showSaveButton && categoryForm.valid && !categoryForm.pristine">
      <ion-button (click)="save()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen mode="ios">
  <form [formGroup]="categoryForm" novalidate (ngSubmit)="save()">
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Color base</ion-label>
          <ion-select formControlName="color" okText="Seleccionar" cancelText="Cerrar" interface="popover">
            <ion-select-option *ngFor="let color of colors" [value]="color?.id">{{color?.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea formControlName="description" rows="6" cols="20"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card>
      <ion-list>
        <ion-item *ngIf="showUploadImage">
          <ion-buttons slot="start">
            <ion-button expand="full" (click)="f.click()">Agregar imagen</ion-button>
          </ion-buttons>
          <input class="ion-hide" #f type="file" (change)="loadImage($event)" id="file-input"
            accept="image/png, image/jpeg" formControlName="image">
        </ion-item>
        <ion-item *ngIf="showPreviewImg">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-spinner name="lines-small" *ngIf="srcImage == ''"></ion-spinner>
              <ng-container *ngIf="srcImage != ''">
                <img [src]="srcImage" [alt]="categoryForm.get('name')?.value" width="150px">
                <ion-buttons>
                  <ion-button (click)="removeImage()">
                    <ion-icon name="remove-circle-outline" color="danger"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ng-container>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card>
  </form>
</ion-content>