.pay-bar {
    position: absolute;
    bottom: 0;
    padding: 10px 10px 10px 0px;
    box-shadow: rgb(0 0 0 / 12%) 0px -1px 16px;
}

@media (max-height: 682px){
    .pay-bar{
        position: initial;        
    }
}