<ion-header [translucent]="showHeaderTitle" [ngClass]="{'ion-no-boder': showHeaderTitle}" collapse="fade" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Gestión" style="display: block;" defaultHref="/pages/menu/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>{{dataComponent?.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presetModalForm(dataComponent?.component)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen [scrollEvents]="true" (ionScroll)="logScrolling($event)" mode="ios">
  <div class="content-full-page">
    <div class="ion-text-center" *ngIf="loading">
      <ion-spinner name="lines"></ion-spinner>
    </div>
    <div class="ion-padding" *ngIf="!loading">
      <div class="ion-text-center" *ngIf="data.length == 0">
        <ion-text color="dark">
          <h4><b>No se encontraron resultados.</b></h4>
        </ion-text>
        <div class="ion-padding-bottom">
          Aún no hay {{dataComponent?.name | lowercase }} aquí
        </div>
        <ion-button size="small" (click)="presetModalForm(dataComponent?.component)">Agregar</ion-button>
      </div>
      <ion-item *ngFor="let item of data">
        <ion-label>{{item?.name}}</ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="presentActionOptions(item)">Opciones</ion-button>
        </ion-buttons>
      </ion-item>
    </div>
  </div>
</ion-content>