ion-tab-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

ion-fab,
ion-footer {
    bottom: 90px;
}

.icon-padding-custom {
    padding: 5px 0px 2px 0px;
}

// ion-tabs ion-tab-bar ion-tab-button ion-icon{
//     font-size: 24px;
// }