body[color-theme="dark"] {
    .card.is-loading {
        .image,
        h2,
        p {
            background: linear-gradient(to right, #1d1d1d 0%, #1d1d1d 20%, #252525 40%, #1d1d1d 100%);
            background-size: 200% 100%;
            animation: 1.5s shine linear infinite;
        }

        .content{
            border-bottom: 2px solid #222222;
            border-left: 2px solid #222222;
            border-right: 2px solid #222222;
        }
    }

    .card.is-loading.category {
        background: linear-gradient(to right, #1d1d1d 0%, #1d1d1d 20%, #252525 40%, #1d1d1d 100%);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }
}

.card.is-loading {
    max-width: 145px;
    box-shadow: rgb(0 0 0 / 7%) 0px 4px 14px;
    border-radius: 8px;
    margin: 10px auto;

    .image,
    h2,
    p {
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }

    .content {
        border-radius: 0px 0px 8px 8px;
        padding: 10px;
    }

    .image {
        border-radius: 8px;
        height: 100px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    h2 {
        border-radius: 4px;
        height: 45px;
        margin-top: 2px;
        margin-bottom: 5px;
    }

    p {
        border-radius: 4px;
        margin: 0px;
        padding: 0px;
        height: 20px;
    }
}

.card.is-loading.category {
    height: 65px;
    max-width: 100%;
    border-radius: 8px;
    margin: 10px 20px;
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    box-shadow: none;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}